@model BilgeBlog.Areas.Admin.Models.DTO.SiteMenuVM

@{
    ViewBag.Title = "AddSiteMenu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}



<h1>Site Menu Ekleme İşlemi</h1>

@Html.Partial("/Areas/Admin/Views/Shared/Partial/FormAlertMessages.cshtml")


@using (Html.BeginForm())
{
    <form>

        <div class="form-group">
            
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Menü Adı"})
            
            
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.URL)
            @Html.TextAreaFor(x => x.URL, new { @class = "form-control", @placeholder = "URL" })
            @Html.ValidationMessageFor(x => x.URL)

        </div>
        <div class="form-group">
           
            @Html.LabelFor(x => x.cssClass)
            @Html.TextAreaFor(x => x.cssClass, new { @class = "form-control", @placeholder = "CSS Class" })
            @Html.ValidationMessageFor(x => x.cssClass)

        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>

    </form>
}


