@model BilgeBlog.Areas.Admin.Models.DTO.BlogPostVM


<div>
    <form>

        <div class="form-group">

            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Başlık" })


        </div>
        <div>
            @Html.LabelFor(x => x.PostImage)
            <input type="file" multiple name="PostImage" accept="image/gif, image/jpeg, image/png"/>

        </div>

        <div class="form-group">
            <label> Kategori </label>
            @Html.DropDownList("CategoryID", Model.DropdownCategories, "Lütfen Seçim Yapınız", new { @class = "form-control" })

        </div>


        <div class="form-group">
            @Html.LabelFor(x => x.Content)
            @Html.TextAreaFor(x => x.Content, new { @class = "ckeditor", @placeholder = "İçerik", @id = "ckeditor" })
            @Html.ValidationMessageFor(x => x.Content)

        </div>

        <script>CKEDITOR.replace("ckeditor");</script>


        <button type="submit" class="btn btn-primary">Kaydet</button>

    </form>
</div>

