@using System.Web.Optimization;

@{
    ViewBag.Title = "Index";

}

@model BilgeBlog.Models.VM.SiteBlogPostVM

@Scripts.Render("~/bundles/site/layout")
@Styles.Render("~/bundles/site/layoutstyles")

@Html.Partial("Partials/NavigationPartial")


<!-- Page Header -->
<header class="masthead" style="background-image: url('/Areas/Admin/Content/Site/Images/blogpost/@Model.PostImagePath')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.Category</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">Start Bootstrap</a>
                        on August 24, 2019
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

